<!DOCTYPE html>


<%= link_to 'Sign Up', signup_path %>
<%= link_to 'Log In', root_path %>
<%= link_to 'Log Out', logout_path("current") %>

<html>
<head>
  <title>Courszilla</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
